    html {
      height: 100%;
    }
    
    body {
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
      background: #2b2b2b;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  }

  .cards {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .card {
    display: flex;
    background: rgb(66, 66, 66);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
    height: 150px;
    gap: 20px;
    flex-wrap: wrap;
    color: #ffffff;
  }

  .card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }


  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
  }

  .info {
    flex: 1;

  }

  .info h2 {
    margin: 0;
  }
  .info p {
      color: #e4e4e4;
      font-family: sans-serif;
  }

  button {
    margin-top: auto;
    padding: 10px 15px;
    background: #b66340;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

  }

  button:hover {
    background: #945134;
    transition: background 0.3s ease;
  }

  header{
    display: flex;
    background-color: #444444;
    padding: 20px 40px;
    top: 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }

  header nav {
    display: flex;

    justify-content: space-around;
    width: 40%;
  }

  header nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  margin: 0 15px;
  font-size: medium;
}

header nav a:hover {
  text-decoration: underline;
}

  main {
    flex: 1;
    display: flex;
    align-items: center;
    
  }

  .hero {
    background-color: #2b2b2b;
    background-image: url('https://png.pngtree.com/png-vector/20220723/ourmid/pngtree-animal-shelter-abstract-concept-vector-illustration-png-image_6045697.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 50%;
    color: #313131;
    height: 80%;
    text-align: center;
    z-index: 1;
  }

  .box {
  background-color: rgba(148,81,53,0.8);
  padding: 10px;
  border-radius: 70px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 5px ;

  }

  .hero h2 {
  font-size: 100px;
  margin-bottom: 10px;
}

.hero p{
  font-size: 20px;
  color: #dddddd;
  padding: 30px;
  margin: 50px;
}

  footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }


@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 90%; 
    flex-direction: column;
    align-items: center;
    height: auto; 
    text-align: center;
  }

  .card img {
    width: 100px;
    height: 100px;
  }

  .info {
    width: 100%;
  }

  header {
    flex-direction: column;
    gap: 10px;
  }

  header nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
